.header-title {
  font-weight: 600;
}

.task {
  border-left: none !important;
  border-right: none !important;
}

.task-main input {
  width: 14px !important;
}

.new-task-text {
  color: #7c7c7cff;
}

.secondary-info {
  font-size: 13px;
  font-weight: 500;
}

.category span {
  width: 13px !important;
  height: 13px !important;
}
