<app-navbar></app-navbar>

<div class="container p-4">
    <h1 class="header-title">Tasks</h1>
    <div class="form-outline mt-4">
        <input [(ngModel)]="searchText" type="search" class="form-control" placeholder="Search task..."
            aria-label="Search" />
    </div>

    <a class="new-task w-full border rounded py-3 px-5 d-block my-4" routerLink="/tasks/create">
        <span>
            <svg style="width: 18px; height: 18px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(124, 124, 124);"
                viewBox="0 0 448 512">
                <path
                    d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z">
                </path>
            </svg>
            <span class="new-task-text mx-3">Add New Task</span>
        </span>
    </a>

    <div class="tasks-list">
        <div *ngFor="let task of filterTasks(false)">
            <app-task-list-item [task]="task"></app-task-list-item>
        </div>

        <hr class="my-4" *ngIf="filterTasks(true).length && filterTasks(false).length" />

        <div *ngFor="let task of filterTasks(true)">
            <app-task-list-item [task]="task"></app-task-list-item>
        </div>
    </div>
</div>