@import "~@ng-select/ng-select/themes/material.theme.css";

.header-title {
  font-weight: 600;
}

form {
  max-width: 35rem !important;
}

.category {
  width: 15px !important;
  height: 15px !important;
}
