<app-navbar></app-navbar>

<div class="container p-4">
    <h1 class="header-title">Details</h1>

    <form class="mx-auto mt-5" id="task-details">
        <div class="form-group mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" class="form-control" id="description" rows="3" [value]="task.description"
                disabled></textarea>
        </div>

        <div class="form-group mb-3">
            <label for="createdAt" class="form-label">Creation Date</label>
            <input type="datetime-local" name="createdAt" class="form-control" id="createdAt" [value]="creationDate"
                disabled />
        </div>

        <div class="form-group mb-3">
            <label for="deadline" class="form-label">Deadline</label>
            <input type="date" name="deadline" class="form-control" id="deadline" [value]="task.deadline" disabled />
        </div>

        <div class="form-group mb-3" *ngIf="task.subtasks.length">
            <label for="subtasks" class="form-label">Subtasks</label>
            <div>
                <ul *ngFor="let subtask of subtasks" class="ms-5">
                    <li class="mb-1">{{ subtask.description }}</li>
                </ul>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="categories" class="form-label">Categories</label>
            <div *ngFor="let category of task.categories" class="d-flex flex-row">
                <div class="category-item d-flex align-items-center gap-2 mx-2">
                    <span class="d-inline-block rounded-1 category" [style.background-color]="category.color"></span>
                    {{ category.name }}
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="isEnded" [checked]="task.isEnded"
                    disabled>
                <label class="form-check-label" for="isEnded">Task Ended</label>
            </div>
        </div>

        <div class="form-group mt-5 mx-1">
            <div class="d-grid">
                <button class="btn btn-danger" type="button" [swal]="mySwal">Delete</button>
                <swal #mySwal title="Confirm Delete"
                    text="Are you sure you want to delete this task? This action is irreversible"
                    [showCancelButton]="true" (confirm)="handleDelete()" [showLoaderOnConfirm]="true"></swal>
            </div>
        </div>
    </form>
</div>