<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            <div class="svg-logo-wrapper">
                <span><img class="logo-icon" src="http://www.beeorder.com/assets/images/logo/logo-colored-no-text.png">
                </span>
                <span style="font-size: 1.4rem;position:relative; top: 4px; padding-left:8px;"><span
                        style="color:#333">BEE</span>ORDER</span>
            </div>
        </a>
        <div class="auth-links" *ngIf="!isLoggedIn">
            <a class="mx-2" routerLink="/login">Login</a>
            <a class="mx-2" routerLink="/register">Register</a>
        </div>
        <div class="auth-links" *ngIf="isLoggedIn">
            <a class="mx-2" href="#" (click)="onLogout()">Logout</a>
        </div>
    </div>
</nav>