.nav {
  background-color: #f4f4f4 !important;
}

.logo-icon {
  width: 30px;
  height: 24px;
}

.svg-logo-wrapper {
  color: #f35d04;
}

.auth-links {
  font-size: 1.1rem;
  font-weight: 500;
}

.auth-links a {
  color: #f35d04;
}

.auth-links a:hover {
  color: #ca4a00;
}
