<app-navbar></app-navbar>

<div class="container p-4">
    <h1 class="header-title">New Task</h1>
    <form class="mx-auto mt-5" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <div class=" form-group mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" class=" form-control" id="description" rows="3"
                formControlName="description"></textarea>
        </div>

        <div class=" form-group mb-3">
            <label for="deadline" class="form-label">Deadline</label>
            <input type="date" name="deadline" class=" form-control" id="deadline" formControlName="deadline"
                value="deadline" [min]="todayString" />
        </div>

        <div class="form-group mb-3">
            <label for="subtasks" class="form-label">Subtasks</label>
            <div formArrayName="subtasks">
                <div *ngFor="let subtask of subtasks.controls; let i = index">
                    <div class="input-group mb-2 d-flex align-items-center gap-2">
                        <input type="text" class="form-control" [formControlName]="i">
                        <svg (click)="removeSubtask(i)" xmlns="http://www.w3.org/2000/svg" height="1.2rem"
                            viewBox="0 0 448 512" class="trash-icon">
                            <path
                                d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                        </svg>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-success d-block" (click)="addSubtask()">Add Subtask</button>
        </div>

        <div class="form-group mb-3">
            <label for="categories" class="form-label">Categories</label>
            <ng-select [items]="categoriesList$ | async" [multiple]="true" [closeOnSelect]="true" [hideSelected]="true"
                bindLabel="name" placeholder="Select categories" [(ngModel)]="selectedCategories"
                [ngModelOptions]="{standalone: true}">
            </ng-select>
        </div>

        <div class="form-group mb-3">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="isEnded" formControlName="isEnded">
                <label class="form-check-label" for="isEnded">Task Ended</label>
            </div>
        </div>

        <button type="submit" class="btn btn-primary"
            [disabled]="!taskForm.valid || !this.selectedCategories.length || isLoading">Create Task</button>
    </form>
</div>