@import "~@ng-select/ng-select/themes/material.theme.css";

.header-title {
  font-weight: 600;
}

.container form {
  max-width: 35rem;
}

.trash-icon {
  fill: #dc3545 !important;
  cursor: pointer;
}

.selected-option {
  display: inline-block;
  padding: 4px 8px;
  margin: 2px;
  border-radius: 4px;
  color: white;
}
