<app-navbar></app-navbar>

<div class="auth-container container-fluid d-flex align-items-center justify-content-center">
    <div class="card" style="background-color: white; border-radius: 1rem;">
        <h4 class="text-center mb-3">Login</h4>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group my-3">
                <div class="form-floating mb-3">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email"
                        formControlName="email" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="form-group my-3">
                <div class="form-floating mb-3">
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password"
                        formControlName="password" required min="8">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="d-grid">
                <button [disabled]="!loginForm.valid || isLoading" type="submit"
                    class="btn btn-primary py-2">Login</button>
            </div>
            <small class="text-danger">
                {{ error }}
            </small>
        </form>
    </div>
</div>