<div class="task w-100 border rounded py-3 px-5">
    <div class="main-info d-flex justify-content-between">
        <div class="task-main d-flex flex-row gap-3">
            <input type="checkbox" aria-label="Mark Complete" [checked]="task.isEnded" (change)="handleToggle()">
            <p>{{ task.description }}</p>
        </div>
        <a [routerLink]="['/task-details', task.id]">
            <svg style="width: 16px; height: 16px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(124, 124, 124);"
                viewBox="0 0 320 512">
                <path
                    d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                </path>
            </svg>
        </a>
    </div>
    <div class="secondary-info d-flex flex-row mt-4 ps-4 gap-4 align-items-center">
        <div class="deadline d-flex align-items-center gap-1">
            <svg style="width: 13px; height: 13px; overflow: visible; opacity: 1; z-index: 1; fill: rgb(124, 124, 124);"
                viewBox="0 0 448 512">
                <path
                    d="M436 160H12c-6.6 0-12-5.4-12-12v-36c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48v36c0 6.6-5.4 12-12 12zM12 192h424c6.6 0 12 5.4 12 12v260c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V204c0-6.6 5.4-12 12-12zm257.3 160l48.1-48.1c4.7-4.7 4.7-12.3 0-17l-28.3-28.3c-4.7-4.7-12.3-4.7-17 0L224 306.7l-48.1-48.1c-4.7-4.7-12.3-4.7-17 0l-28.3 28.3c-4.7 4.7-4.7 12.3 0 17l48.1 48.1-48.1 48.1c-4.7 4.7-4.7 12.3 0 17l28.3 28.3c4.7 4.7 12.3 4.7 17 0l48.1-48.1 48.1 48.1c4.7 4.7 12.3 4.7 17 0l28.3-28.3c4.7-4.7 4.7-12.3 0-17L269.3 352z">
                </path>
            </svg>
            {{ formatDate(task.deadline.toString()) }}
        </div>
        <div class="subtasks-count">
            <span class="badge text-bg-secondary">{{ task.subtasks.length }}</span>
            Subtasks
        </div>
        <div class="category category-1 d-flex align-items-center gap-3">
            <div *ngFor="let category of task.categories" class="d-flex align-items-center">
                <span class="d-inline-block rounded-1 me-1" [style.background-color]="category.color"></span>
                {{ category.name }}
            </div>
        </div>
    </div>
</div>