.auth-container {
  height: calc(100vh - 56px);
}

.auth-container .card {
  padding: 2rem;
  width: 36rem;
}

.auth-container .card h4 {
  font-weight: 400;
}

.auth-container label {
  font-family: var(--bs-body-font-family);
  font-weight: 400;
  font-size: 1rem;
}

.auth-container input:focus {
  box-shadow: 0 0 0 0.16rem rgba(243, 93, 4, 0.25);
  border: 0;
}

.auth-container input {
  font-family: var(--bs-body-font-family);
}

.auth-container button {
  background-color: #f35d04;
  border-color: #fe5e01;
}

.auth-container button:hover {
  background-color: #ff5e00;
}
